
    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>

    <div class="container">
        <h1>Личный Кабинет</h1>
        <div class="registration">
            <h2>Регистрация</h2>
            <form method="post" id="registrationform" action="{%url 'register' %}">
                {% csrf_token %}
                {{form.as_p}}



                
                
                



                <button type="submit">Войти в Систему</button>
            </form>
        </div>

























        <div id="services">
            <h2>Запись на услуги</h2>
            <select name="" id="serviceselect">
                <option value="УСЛУГА 1"> Уборка Преддомомвой территории</option>
                <option value="УСЛУГА 2">Консультация по поводу жилья </option>
                <option value="УСЛУГА 3">  узнать Статус КомУслуг</option>
            </select>
            <button id="bookservice">Записаться</button>
        </div>
        <div id="attendance">
            <h2>Учет Посещаемости</h2>
            <button id="checkattendance"> Проверить посещаемость</button>
            <div id="attendanceresult"></div>
        </div>
        <div id="payment">
            <h2>Оплата Услуг</h2>
            <button id="payservice">Оплатить</button>
            <div id="paymentresult"></div>
        </div>
    </div>












<script>
    /*document.getElementById('registrationform').addEventListener('submit',function(event){
        event.preventDefault();
        const name = document.getElementById('name').value;
        const dob = document.getElementById('dob').value;
        const email = document.getElementById('email').value;

        
        window.loaction.href = 'lk.html'
    })
*/
    document.getElementById('bookservice').addEventListener('click',function(){
        const service = document.getElementById('serviceselect').value
        alert(`Вы записанны на услугу ${service}`)

    })

document.getElementById('checkattendance').addEventListener('click',function(){
    document.getElementById('attendanceresult').innerText = "Вы Посетили три услуги в этом месяце"

})

document.getElementById('paymentresult').innerText = "payment succes"





</script>
</body>
</html>
