anyio==4.8.0
asgiref==3.8.1
bcrypt==4.2.1
blinker==1.9.0
certifi==2025.1.31
channels==4.2.0
charset-normalizer==3.4.1
click==8.1.7
distlib==0.3.9
Django==5.1.3
filelock==3.16.1
Flask==3.1.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
pillow==11.1.0
platformdirs==4.3.6
pyTelegramBotAPI==4.26.0
python-telegram-bot==21.11.1
qrcode==8.0
requests==2.32.3
sniffio==1.3.1
SQLAlchemy==2.0.36
sqlparse==0.5.2
typing_extensions==4.12.2
urllib3==2.3.0
virtualenv==20.27.1
Werkzeug==3.1.3
