
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="{% static 'css/stylefaq.css' %}">
    <script>
        script>
        document.addEventListener('DOMContentLoaded', function() {
            const questions = document.querySelectorAll('.faq-question');
            questions.forEach(question => {
                question.addEventListener('click', function() {
                    const faqItem = this.parentElement;
                    faqItem.classList.toggle('active');
                });
            });
        });
    </script>

</head>
<body>
    <body>
        <div class="container">
            <h1>Часто задаваемые вопросы</h1>
            <div class="faq-list">
                {% for faq in faqs %}
                    <div class="faq-item">
                        <h2 class="faq-question">{{ faq.question }}</h2>
                        <p class="faq-answer">{{ faq.answer }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>

</body>
</html>