{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    
    
    <header>
        <h1>Личный кабинет потребителя</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#profile">Личный профиль</a></li>
            <li><a href="#payments">Платежи</a></li>
            <li><a href="#requests">Заявки</a></li>
            <li><a href="#notifications">Уведомления</a></li>
            <li><a href="#documents">Документы</a></li>
            <li><a href="#support">Поддержка</a></li>
        </ul>
    </nav>
    <main>
        <section id="profile">
            <h2>Личный профиль</h2>
            <p> Nikita kashlev{{  user.name }}</p>
            <p>Телефон: +7 123 456 78 90</p>
            <p>{{ user.email }}</p>
        </section>

        <section id="payments">
            <h2>Управление платежами</h2>
            <ul>
                <li>Счет за услуги: 1500 руб.</li>
                <li><a href="{% url 'payment_view' %}"><button>Оплатить</button></a></li>
            </ul>
        </section>

        <section id="requests">
            <h2>Заявки и обращения</h2>
            <a href="{% url 'request_form' %}"><button>Создать заявку</button></a>
            <p>Статус вашей заявки: В процессе</p>
        </section>

        <section id="notifications">
            <h2>Уведомления</h2>
            <p>0 Уведомлений </p>
        </section>

        <section id="documents">
            <h2>Документы</h2>
            <a href="project/media/Договор1337.txt" download class="download-button">Скачать договор</a>
        </section>

        <section id="support">
            <h2>Поддержка</h2>
            <p><strong>Чат с поддержкой:</strong> Ожидайте ответа оператора...</p>
            <button><a href="{% url 'chat' %}">chat</a></button>
        </section>
    </main>
    <footer>
        <p>© 2023 Домоуправляющая компания. Все права защищены.</p>
        <a href="/">Выйти</a>
    </footer>
</body>
</html>
</body>
</html>