body{
    background-color: black;

}
header{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

table { 
    border: 1px solid rgb(0, 0, 0); 
    margin-left: auto; 
    margin-right: auto; 
} 
  
input[type="button"] { 
    width: 100%; 
    padding: 20px 40px; 
    background-color: rgba(68, 223, 115, 0.699); 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
} 
input[type="button"]:hover{
    opacity: 0.7;
}
  
input[type="text"] { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid rgba(68, 223, 115, 0.699);  
} 

.chat-container {
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

.chat-box {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: black;
}


.message-user {
    background-color: #d1e7dd;
    align-self: flex-end;
    color: black;
}

.message-other {
    background-color: #f8d7da;
    align-self: flex-start;
    color: black;
}

#message-input {
    width: calc(100% - 110px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
    
}






.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: 250px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
    padding: 0 15px;
}

.card p {
    padding: 0 15px 15px;
    color: #555;
}