<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    









    
   {% comment %} <h2>User Form</h2>
    <form action="postuser" method="post">
        {% csrf_token %}
        <p>name: <br> <input name="name"></p>
        <p>age: <br> <input name="age" type="number"></p>
        <p>
            languages  : <br/>
            <input name="languages">
            <input type="languages">
            <input type="languages">


        </p>
        <input type="submit" value="send">

    </form>
     {% endcomment %}



</body>
</html>