
.void{
    margin-top: 500px;
    margin-bottom: 500px;
}

.chck-box input{
    height: 100px;
    width: 30px;
}

.inp input{
    height: 30px;
    width: 30px;
}

.main-section h1{
    font-family: fantasy;
    font-style:italic;
    font-size: 50px;
}


.range-red input{
    height: 500px;
    width: 500px;
}

.test{
    height: 20px;
    width: 20px;
    background-color: green;
}

#block{
    width: 200px;
    height: 100px;
    background-color: blue ;
}   
.down{
    margin-bottom: 500px;
}



.menu-item{
    border: 2px solid grey;
    display: inline-block;
    position: relative;
    cursor: pointer;

}

.menu-item .submenu{
    height: 40px;
    width: 150px;
    background-color: grey;
    position: absolute;
    cursor: pointer;
}

#tabs{
    margin-top: 500px;
}
#tabs .tab{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    z-index: 5;


}

.whiteborder{
    border: 1px red solid;
    border-bottom: 1px white;
    border-radius: 3px 3px 0 0 ;

}

#tabs .tabcontent{
    width: 300px;
    height: 60px;
    border: red solid 2px;
    z-index: 1;
    top: -1px;
    padding: 10px ;
    border-radius: 0 0 3px 3px;
}

#tabs .hide{
    display: none;

}

#tabs .show{
display: block;
}


div.tabHeader
{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    background-color: blue;
}

    div.tabHeader.active
    {
        border: 1px solid #707070;
        border-bottom: 1px solid white;
        border-radius: 3px 3px 0 0;
        background-color: red;
    }

div.tabContent
{
    width: 300px;
    height: 60px;
    border: 1px solid #707070;
    position: relative;
    top: -1px;
    z-index: 1;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background-color: #e2b392;
}


.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: grey;

}

.modal-content{
    background-color: pink;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid yellow;
    width: 80%;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
}


#myContainer{
    width: 400px;
    height: 400px;
    position: relative;
    background-color: green;

}


#myAnimation{
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
    
}