.chck-box input{
    height: 100px;
    width: 30px;
}

.inp input{
    height: 30px;
    width: 30px;
}

.main-section h1{
    font-family: fantasy;
    font-style:italic;
    font-size: 50px;
}


.range-red input{
    height: 500px;
    width: 500px;
}

.test{
    height: 20px;
    width: 20px;
    background-color: green;
}

#block{
    width: 200px;
    height: 100px;
    background-color: blue ;
}   
.down{
    margin-bottom: 500px;
}



.menu-item{
    border: 2px solid grey;
    display: inline-block;
    position: relative;
    cursor: pointer;

}

.menu-item .submenu{
    height: 40px;
    width: 150px;
    background-color: grey;
    position: absolute;
    cursor: pointer;
}


#tabs .tab{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    z-index: 5;


}

.whiteborder{
    border: 1px red solid;
    border-bottom: 1px white;
    border-radius: 3px 3px 0 0 ;

}

#tabs .tabcontent{
    width: 300px;
    height: 60px;
    border: red solid 2px;
    z-index: 1;
    top: -1px;
    padding: 10px ;
    border-radius: 0 0 3px 3px;
}

#tabs .hide{
    display: none;

}

#tabs .show{
display: block;
}